@model Dominio.Doacao

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Doacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValorDoacao" class="control-label"></label>
                <input asp-for="ValorDoacao" class="form-control" />
                <span asp-validation-for="ValorDoacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaArrecadacao" class="control-label"></label>
                <input asp-for="MetaArrecadacao" class="form-control" />
                <span asp-validation-for="MetaArrecadacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorArrecadado" class="control-label"></label>
                <input asp-for="ValorArrecadado" class="form-control" />
                <span asp-validation-for="ValorArrecadado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
