
@{
    ViewData["Title"] = "Publicação";
}

<h2>Publicação</h2>

<form action="/html/tags/html_form_tag_action.cfm" method="post">
    <div>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
    </div>
    <input type="submit" value="Submit">
</form>
